@page "/signoff"
@using Sfinx.App.Shared.Interfaces
@inject NavigationManager NavigationManager
@inject IUserProfileManager ProfileManager
<h3>Sign out</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await ProfileManager.SignOutAsync();
        NavigationManager.NavigateTo("/", true);
    }
}